<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h3 class="btn">CREATE</h3>
      <h1><%= title %></h1>
      <h3 class="btn">RESET</h3>
    </header>
    <main>
      <h1>Messages</h1>
      <%- include('message', {messages}); %>
    </main>
  </body>
</html>
