<div class="msg-container">
  <% messages.forEach(msg => { %>
  <div class="msg">
    <h1 class="msg-title"><%= msg.title %></h1>
    <p class="msg-content"><%= msg.text %></p>
    <div class="msg-meta">
      <h3 class="msg-author"><%= msg.user %></h3>
      <h3 class="msg-date"><%= msg.added %></h3>
    </div>
  </div>
  <% }) %>
</div>
<!-- 
<div class="msg">
    <h1 class="msg-title">msg title</h1>
    <p class="msg-content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, error
      molestias praesentium ad tempora necessitatibus obcaecati voluptatem
      voluptate corrupti et quas ipsa aperiam quis soluta at non ullam quo
      rerum.
    </p>
    <div class="msg-meta">
      <h3 class="msg-author">Author</h3>
      <h3 class="msg-date">10/12/1997</h3>
    </div>
  </div> -->
