<div class="msg-container">
  <% messages.forEach(msg => { %>
  <div class="msg">
    <h1 class="msg-title"><%= msg.title %></h1>
    <p class="msg-content"><%= msg.text %></p>
    <div class="msg-meta">
      <h3 class="msg-author"><%= msg.user %></h3>
      <h3 class="msg-date"><%= msg.added %></h3>
    </div>
  </div>
  <% }) %>
</div>
