<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title %>| CREATE</title>
</head>
<body class="new">
    <header>
        <h1>Create new Message</h1>
        <a href="/" class="btn">BACK</a>
      </header>
      <form action="/new" method="post">
        <div class="msg-title-inp">
            <label for="title-inp">Title:</label>
            <input type="text" name="title" id="title-inp" required>
        </div>
        <div class="msg-text-inp">
            <label for="text-inp">Text:</label>
            <textarea row="10" col="30" name="text" id="text-inp" required></textarea>
        </div>
        <div class="msg-user-inp">
            <label for="user-inp">User:</label>
            <input type="text" name="user" id="user-inp" required>
        </div>
        <button class="msg-create">Create Message</button>
      </form>
</body>
</html>