<div class="reset none">
  <div class="close">CLOSE</div>
  <form action="/new" method="delete">
    <label for="password">Enter Reset Password</label>
    <input type="password" required />
    <button>Reset</button>
  </form>
</div>