*, *::after, *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary: #ccd5ae;
  --secondary: #1d3557;
  --secondary-partial: rgba(29, 53, 87, 0.8);
  --accent: #000814;
  --hover: #ef233c;
}

body{
  background-color: var(--primary);
  color: var(--secondary);
}

a.btn{
  text-decoration: none;
  font-weight: bold;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

header .btn{
  cursor: pointer;
  color: var(--accent);
}

header .btn:hover{
  color: var(--hover);
}

main{
  padding: 1rem;
}

main h1{
  margin-bottom: 1rem;
}

.msg-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}

.msg{
  width: 350px;
  height: 350px;
  background-color: var(--secondary-partial);
  border: 1px solid var(--hover);
  border-radius: 1rem;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--primary);
}

.msg-title{
  text-align: center;
  padding-bottom: .2rem;
  border-bottom: 1px solid var(--accent);
}

.msg-content{
  font-size: 1.3rem;
  height: 200px;
  overflow: auto;
  text-align: center;
  padding: 0 .5rem;
}

.msg-meta{
  border-top: 1px solid var(--accent);
  padding: .2rem;
  display: flex;
  justify-content: space-between;
}

/* new.html */
body.new{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new header{
  width: 100%;
}

form{
  margin-top: 5rem;
  border: 2px solid var(--accent);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

form > div {
  margin: 2rem 0;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}

form > div input, form > div textarea{
  font-size: 2rem;
  outline: none;
  border: 1px solid transparent;
  background-color: var(--primary);
  border-bottom: 2px solid var(--accent);
}

form > div input:focus, form > div textarea:focus{
  border-color: var(--hover);
}

form .msg-create{
  margin-top: 1rem;
  padding: .5rem 0;
  font-size: 1.4rem;
  border-radius: 1rem;
  border: 0;
  background-color: var(--secondary);
  color: var(--primary);
  cursor: pointer;
}

form .msg-create:hover{
  background-color: var(--hover);
  color: var(--accent);
}